* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
    background-color: grey;
}
body::-webkit-scrollbar {
    display: none;
}

header {
    height: 80px;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}
header > * {
    margin: 20px;
}
header #header-left,
header #header-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header #header-left img {
    height: 40px;
    margin-right: 20px;
}
header #header-left ul {
    list-style: none;
}
header #header-left li {
    display: inline-block;
    margin: 10px;
    color: white;
}
header #header-left li.active {
    font-weight: bold;
    cursor: context-menu;
}
header #header-left li:not(.active) {
    cursor: pointer;
}
header #search-container {
    position: relative;
    width: 200px;
    height: 30px;
    background-color: black;
    border: 1px solid white;
}
header #search-container > i {
    margin: 5px;
    color: white;
    cursor: pointer;
    vertical-align: middle;
}
header #search-container > input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-color: black;
    background-color: black;
    color: white;
}
header #search-container > input:focus {
    outline: none;
}
header #header-right {
    list-style: none;
}
header #header-right li {
    display: inline-block;
}

main {
    padding-top: 80px;
}
main ul {
    width: 1500px;
    margin: 0 auto;
    list-style: none;
}
main li {
    float: left;
    width: calc((100% / 6) - 10px);
    height: 350px;
    margin: 5px;
    border: 2px solid white;
    line-height: calc((350px - 10px - 10px) / 10);
}
main li .poster {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
main li:hover .poster {
    display: none;
}
main li .info {
    display: none;
    padding: 10px;
    color: white;
}
main li:hover {
    overflow-y: scroll;
    background-color: black;
}
main li:hover::-webkit-scrollbar {
    display: none;
}
main li:hover .info {
    display: block;
}
main li .info h4 {
    display: inline;
}
main li .poster h4 {
    line-height: calc(350px - 10px - 10px);
    text-align: center;
}
main li .language img {
    vertical-align: middle;
}
main li .vote i {
    color: rgb(255, 201, 53);
}