<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>BoolFlix</title>
</head>
<body>
    
    <div id="root">
        <!-- non uso v-model perchè altrimenti nel momento in cui sostituisco agli spazi il + lo si vede anche nell'input -->
        <input type="text" id="searchInput">
        <button @click="searching">Cerca</button>
        <ul>
            <li v-for="item in found">
                <div v-if="item.media_type == 'movie'">
                    {{'Titolo: ' + item.title + '; Titolo originale: ' + item.original_title + '; Lingua: '}}
                    <img :src="'https://www.countryflags.io/' + item.flag + '/flat/16.png'">
                     {{'; Stelle: '}}
                    <i v-for="number in 5" class="fa-star" :class="(number <= item.stars)? 'fas' : 'far'"></i>    
                </div>
                <div v-if="item.media_type == 'tv'">
                    {{'Titolo: ' + item.name + '; Titolo originale: ' + item.original_name + '; Lingua: '}}
                    <img :src="'https://www.countryflags.io/' + item.flag + '/flat/16.png'">
                     {{'; Stelle: '}}
                    <i v-for="number in 5" class="fa-star" :class="(number <= item.stars)? 'fas' : 'far'"></i>    
                </div>
            </li>
        </ul>
    </div>

    <script src="js/main.js"></script>
</body>
</html>